﻿body {
    padding: 50px 0 20px 0;
}

.body-content {
    padding: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.btn {
    padding: 1px 8px;
}

input.btn[type="submit"] {
    outline: none !important;
}

.table thead tr th {
    background-color: #ddd;
}

.table tr td.cell-control {
    padding: 6px;
}