﻿@{
    ViewBag.Title = "Welcome";
}

@Html.AntiForgeryToken()

<div class="row" style="margin-bottom: -20px">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Welcome to TestTask!</span>
            </div>
            <div class="panel-body">
                <span>This is small MVC Web App with list of Persons, which allows to add, remove and edit them.</span>
            </div>
        </div>
    </div>
</div>