﻿@model TestTask.Models.PersonModel

@{
    ViewBag.Title = "Delete";
}

<div class="row" style="margin-bottom: -20px">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Are you sure you want to delete this?</span>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <span>Name</span>
                    </th>
                    <th>
                        <span>Birth Date</span>
                    </th>
                    <th>
                        <span>Description</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                @if (Model != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Description)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-6">
                    @Html.ActionLink("Back", "Index", null, new { @class = "pull-left btn btn-info", @style = "margin-bottom: 20px" })
                </div>
                <div class="col-lg-6">
                    <input type="submit" value="Delete" class="pull-right btn btn-danger" style="margin-bottom: 20px" />
                </div>
            </div>
        }
    </div>
</div>
