﻿@model TestTask.Models.PersonModel

@{
    ViewBag.Title = "Edit";
}

<div class="row" style="margin-bottom: -20px">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)

            <div class="panel panel-default">
                <div class="panel-heading">Editing person</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2" })
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2" })
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="input-group date">
                                    @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-lg-2 col-md-2 col-sm-2" })
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    @Html.ActionLink("Back", "Index", null, new { @class = "pull-left btn btn-info", @style = "margin-bottom: 20px" })
                </div>
                <div class="col-lg-6">
                    <input type="submit" value="Edit" class="pull-right btn btn-success" style="margin-bottom: 20px" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}