﻿@model TestTask.Models.PersonIndexModel

@{
    ViewBag.Title = "Persons";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 15px">
            @Html.ActionLink("Create", "Create", null, new { @class = "pull-right btn btn-success" })
        </div>
    </div>
}
<div class="row" style="margin-bottom: -20px">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Persons</span>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <span>Name</span>
                    </th>
                    <th>
                        <span>Birth Date</span>
                    </th>
                    <th>
                        <span>Description</span>
                    </th>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <th colspan="2"/>
                    }
                </tr>
                </thead>
                <tbody>
                @if (Model.Persons.Any())
                {
                    foreach (var item in Model.Persons)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BirthDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <td class="cell-control" style="width: 1px">
                                    @Html.ActionLink("Edit", "Edit", new {id = item.ID}, new {@class = "pull-right btn btn-info"})
                                </td>
                                <td class="cell-control" style="width: 1px">
                                    @Html.ActionLink("Delete", "Delete", new {id = item.ID}, new {@class = "pull-right btn btn-danger"})
                                </td>
                            }
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>