﻿@model TestTask.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="row" style="margin-bottom: -20px">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-lg-2 col-md-2 col-sm-2"})
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-lg-2 col-md-2 col-sm-2"})
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
                    <input type="submit" value="Login" class="btn btn-success" style="width: 30%; padding: 6px 12px; margin-bottom: 20px" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}